* {
    /* background: rgba(187, 175, 175, 0.856); */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #474644ec;
  }

  .logo  {
    color: whitesmoke;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-size: 24px;
  }

  .navLinks {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }

  .navLinks li {
    list-style: none;
  }

  .navLinks a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 15px;
  }

  .burger {display: none;}

  .burger div {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
  }

  @media screen and (max-width: 1024px) {
    .navLinks{
      width: 68%;
    }
  }
  
  @media screen and (max-width: 768px) {
    body{
      overflow-x: hidden;
    }
    .navLinks {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: #474644ec;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translate(100%);
      transition: transform 0.3s ease-in;
    }
    .navLinks li{
      opacity: 0;
    }
    .burger {
      display: block;
      cursor: pointer;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }


