video {
  width: 100% !important;
  height: 400px !important;
  background-size: auto;
  object-fit: cover;
}
/* 
<!--modal settings   ---> */
#modal {
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-image: url();
  background-color: white;
  height: 350px;
  width: 550px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: black;
}

.dataOfCoins {
  padding-top: 37px;
}

h1 {
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
}

th {
  border: 1px solid black;
  text-align: center;
  background-color: #c6c6d3;
  /* color: white; */
}
.data {
  border-top: 1px solid blue;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .navLinks {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #474644ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.3s ease-in;
  }
  .navLinks li{
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
 #modal {
   height: 100%;
   width: 100%;
 }
}



