.logo {
    color: whitesmoke;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-size: 24px;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray; 
    border: 1px solid black;
    height: 800px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    height: auto;
    align-content: space-around;
    top: 50%;
    left: 50%;
   
    transform: translate(-50, -50%);
    overflow: auto;
    
}

.container > *{
    padding: 10px;
    flex: 1 100%;
    

}

.box {
    text-align: center;
}

.box li {
    margin: 0;
    display: flex;
    /* position: relative; */
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    padding: 10px 0;
    
}



li >a {
    text-align: center;
    text-decoration: none;
    
   
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active{
    color: red;
    text-decoration: underline;
}
